/* DashboardPage.css */
.centered-tabmenu .p-tabmenu-nav {
    display: flex;
    justify-content: center;
    width: 100%; /* Asegura que la barra de navegación ocupe todo el ancho */
  }
  
  .centered-tabmenu .p-tabmenu-nav li {
    margin-right: 0; /* Elimina el margen derecho por defecto entre los items */
  }
  
  .centered-tabmenu .p-tabmenu-nav a {
    /* Puedes ajustar el espaciado interno de cada item si lo deseas */
    padding: 1rem;
  }

.custom-fieldset {
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.custom-fieldset:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

